* {
	box-sizing: border-box;
  margin: 0;
}

html {
  background-color: #FC3342;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
}

#__nuxt,
#__layout {
	height: 100%;
}

form {
	max-width: 400px;
  margin: 15px auto;
  background: $yellow;
  border-radius: 5px;
  width: 95%;
	padding: 15px 20px;
	border: 3px solid $dark-yellow;

	&.error {
		border-color: $red;
	}
	
	@include breakpoint(tablet) {
  }
}

h1 {
	color: $red;
	font-size: 23vw;
	text-align: left;
	margin-bottom: 10px;

	@include breakpoint(tablet) {
		font-size: 21vh;
	}
}

h2 {
	font-size: 3.7vh;
	text-align: left;
	color: $black;
}

h3 {
	color: $red;
	font-size: 5.1vw;

	@include breakpoint(desktop) {
		font-size: 3.1vh;
	}
}

:focus {
	outline: none;
}
