// Colours

$red: #FC3342;
$blue: #4554DD;
$gold: #FFEA34;
$black: #3d3d3d;
$yellow: #ffbf00;

$light-red: #FEADB3;
$light-blue: #B4BAF8;
$light-gold: #FFF7AE;

$dark-red: #B0000D;
$dark-blue: #101A7D;
$dark-gold: #B5A300;
$dark-yellow: #c09000;

$font: 'Arimo', sans-serif;
