# Frontend
/FE/.DS_Store
/FE/node_modules
/FE/package-lock.json

/FE/tests/e2e/videos/
/FE/tests/e2e/screenshots/

/FE/public/

/FE/functions/*
/FE/functions/package.json
/FE/functions/nuxt.config.js
/FE/functions/nuxt/dist
/FE/functions/.

# local env files
/FE/.env.local
/FE/.env.*.local

# Log files
/FE/npm-debug.log*
/FE/yarn-debug.log*
/FE/yarn-error.log*

# Editor directories and files
/FE/.idea
/FE/.vscode
/FE/*.suo
/FE/*.ntvs*
/FE/*.njsproj
/FE/*.sln
/FE/*.sw*

# Backend
/BE/node_modules
/BE/package-lock.json
/BE/config/certs
/BE/config/environment

node_modules
package-lock.json
