.background {
  height: 100vh;
  background-color: rgb(154, 207, 137);
  display: grid;
  grid-template: 100px auto / 20% auto 20%;
  font-family: 'Yantramanav', sans-serif; 
}

main {
  grid-area: 2 / 1 / 2 / 4;
}

.logo {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

#main-form {
  height: 180px;
  max-width: 600px;
  margin: 0 10px;
  display: flex;
  background-color: rgb(121, 180, 129);
  border-radius: 2px;
}

.main-form-button {
  width: 100%;
  margin: 5px;
  border: 2px solid rgba(205, 147, 155, 0.667);
  border-radius: 2px;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Yantramanav', sans-serif;
}

#login {
  background-color: rgb(238, 34, 68);
}

#createAcc {
  background-color: #54a3d1;
}

/* .login-page {
  transition: all 0.8s ease-out;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  background-color: #0f04;
  opacity: 0;
} */
.login-page-enter {
  transition: all 0.8s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background-color: #0f04;
  opacity: 0.1;
}
.login-page-enter-active {
  transition: all 0.8s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 100%;
  background-color: #0f04;
  opacity: 1;
}
.log-open {
  opacity: 1;
  min-width: 600px;
  height: 100%;
}

/* #login-page-form {

} */


/*Create account page*/
.create-page {
  transition: all 0.8s ease-out;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0%;
  background-color: #f00;
  opacity: 0;

}
.create-open {
  opacity: 1;
  min-width: 600px;
  height: 100%;
}

#x {
  position: absolute;
  top: 0;
  right: 5px;
  background-color: #0000;
  border: 0 solid #0000;
  font-size: 5vh;
}

#x:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 500px){
  .background {
    grid-template: 100px auto / 30% auto 30%; 
  }
  #main-form {
    margin: 0 auto;
  }
}

